{% extends 'template.html' %}
{% block head %}
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
 
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
 
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
 
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
 
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
 
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  {% endblock %}
 
  {% block body %}
  <div class="container-narrow" >
 
        <div class="masthead">
              <ul class="nav nav-pills pull-right">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
            <h4 class="muted"></h4>
        </div>
           
<div class="jumbotron">
       <div class="container">
         <center>
            <div style="margin-top:40px;" class="row-fluid">
            <div class="page-header">
            <br><br><br><br><br><br><br><br>
            <h1>Submit an idea</h1>
            </div>
            </div>  
              <form name="input" action="/process_create_post/" method="POST">
            {% csrf_token %}
              <input type="text" name="title" post="content" id="content" style="width:600px; height:40px;" placeholder="Title">
            <br>
            <textarea name="content" cols="4" placeholder="Describe Your Idea"></textarea><br/>
            <button type="submit" class="btn btn-large btn-success" value="Submit!">Submit!</button>
            <a href="/city/1" class="btn btn-large">Back to Ideas</a>
             
</form>
</center>
 
 
 
 
<!--<form method="post" action="/enterskills/" autocomplete="off">
  {% csrf_token %}
  <div class="row-fluid">
    <div class="span6 offset3">
      <span style="font-weight:bold;font-size:large;">Enter Skills</span>
      <input type="text" id="enterbox" name="skills" id="typeahead" autocomplete="off" data-provide="typeahead" data-items="6" data-source='[{% for skill in allskills %}"{{ skill.name }}", {% endfor %} "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"]' >
    </div>
  </div>
 
  <div class="row-fluid" id="entered">
    <div width="1px" class="caboose"></div>
  </div>
  <div class="span2 offset5"><input width='100%' style="width:100%" type="submit" class="btn btn-large btn-success" value="Submit" /></div>
</form>-->
 
 
       
 
       
 
      <div class="navbar navbar-fixed-bottom" align="right"> <p class="muted credit">GovernAid</p></div>
 
    </div> <!-- /container -->
 
 
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
   
 
  {% endblock %}

                        <form action="/process_create_post/" method="post">
              {% csrf_token %}
              <input class="span2" type="text" name="title" id="title" placeholder="Title">
              <input class="span2" type="text" name="content" id="content" placeholder="Write your idea here">
              <button type="submit" class="btn">Create post</button>
              <input type="hidden" name="city" value="test" />
            </form>