  <div class="container-narrow" >

      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Agora</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                        {% load staticfiles %}
              <li><img style="display:inline;"src="{% static 'img/greek_column4.png' %}" alt="Greek Column"/></li>
              <li><a href="http://troll.gg/">About</a></li>
            </ul>
            <form class="navbar-form pull-right" action="/login/" method="post">
              {% csrf_token %}
              <input class="span2" type="text" name="username" id="username" placeholder="Username">
              <input class="span2" type="password" name="password" id="password"  placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
              <input type="hidden" name="next" value="/you/" />
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
