{% extends 'template.html' %}
{% block head %}
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Eric Ruleman">


    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  {% endblock %}

  {% block body %}
  <!--{% include "navbar_login.html" %}-->
  {% include "navbar_create.html" %}
          <div class="row-fluid" style="margin-top:80px">
          <div class="span1 offset3">
            <center>
            {% load staticfiles %}
            <br>
            <img id="upvote" src="{% static 'img/blueUpArrow.png' %}" alt="Blue Up Arrow" width="50%" height="50%" style="display: block; margin-left:auto; margin-right:auto;" pk="{{ post.pk }}"/>
            SCORE<br>
            <img id="downvote" src="{% static 'img/blueDownArrow.png' %}" alt="Blue Down Arrow" width="50%" height="50%" style="display: block; margin-left:auto; margin-right:auto;" pk="{{ post.pk }}"/><br>

            </center>
          </div>
          <div class="span5">
          <span style="color:gray">Posted on {{ time }}</span>

          <p style="font-size:x-large;color:DarkBlue !important;"><a style="color: DarkBlue !important;" href='/post/{{post.pk}}'>
            <strong>{{ post.title }}</strong></a></p>
          {{ post.content }}
          <!--My kid almost got ran over while playing kickball. He was with Jimmy and Bobby, and then all the sudden a big SUV swarmed my poor little big boy! We must put a mirror up on this corner immediately!--><br>
          <p align="right">by <strong>{{ post.user }}</strong></p>
          <span style="color:gray">{{ num_comments }} Comments</span>
          <br>
          <hr>
          </div>
        </div>

        {% for comment in comments %}
          <div class="row-fluid">
          <div class="span5 offset4">
          <span style="color:gray">Posted on {{ time }}</span><br><br>
          {{ comment.content }}<br>
          <p align="right">by <strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong></p>
          <hr>
          </div>
        </div>
        {% endfor %}

        



        <!--- Yo this should work when there are actually posts to view! -->
        {% for post in posts %}
        Posted on {{post.date}}<br>
        <p class="lead">{{post.content}}</p><br>
        by {{post.user.first}} {{post.user.last}}<br>
        {% endfor %}
      </center>
      </div>
  </div>

      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script>$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});</script>

  {% endblock %}
