<!DOCTYPE html>
<html lang='en'>
  <head>
    
    {%  load staticfiles %}
    
    <title>GovernMaid</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
   <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Colin McDonnell">

    <!--My styles-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" />

	<!--Importing JQuery and JQuery UI Google CDN -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>	
	<!-- Bootstrap CDN -->
  <link type="text/css"  href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	
	{% block headers %}

	{% endblock %}
	
  </head>
  	
  <body>

  <!-- TEMPLATE CONTENT -->  
	{% block body %}

	{% endblock %}
      

      <div class="footer">
       <ul class="inline"><li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</li><li>About</li><li>Mission</li><li class="contactus">Contact Us</ul>
      </div>


  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script>$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});</script>

  </body>
</html>